



h1{
  color: #Black;
  font-size: 200%
  }
p{
  color:##9B86C1;
  font-size: 150%
}
h2{
  color:Black;


}
p{
  font-family: sans-serif;
}
body{
  display: block;
    margin: 6px;
}
body {

    background-color:lavender;
    padding: 15px;
    font-size: 120%;


img {
    width: 400px;
    height: 300px;
}
p1{
  size: 100%

}
